[Unit]
Description=Servicio que permite el inicio de sesión automático del usuario quiosco.
Documentation=https://github.com/adriisotuu/proyecto_maquina_quiosco/tree/master/Documentacion
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/bin/autologin.sh

[Install]
WantedBy=quiosco.target
