[Unit]
Description=Quiosco Aplicaciones X11
Documentation=https://github.com/adriisotuu/proyecto_maquina_quiosco/tree/master/Documentacion
Requires=quiosco.target
Wants=NetworkManager.service
After=quiosco.target
AllowIsolate=yes
