[Unit]
Description=Añade cliente gráfico xclock en segundo plano en /home/quiosco/.xinitrc
Documentation=https://github.com/adriisotuu/proyecto_maquina_quiosco/tree/master/Documentacion
After=xterm.service
Before=window_manager.service

[Service]
Type=oneshot
ExecStart=/bin/xclock_xinitrc.sh

[Install]
WantedBy=quiosco_X11-apps.target
