[Unit]
Description=Servicio que realiza un backup del directorio /boot (/root/backup-boot_dir.tar.gz) al apagar o reiniciar el sistema.
Documentation=https://github.com/adriisotuu/proyecto_maquina_quiosco/tree/master/Documentacion
DefaultDependencies=no
Before=systemd-poweroff.service systemd-reboot.service

[Service]
Type=oneshot
ExecStart=/bin/backup-shutdown.sh

[Install]
WantedBy=shutdown.target
