[Unit]
Description=Servicio que realiza un backup del directorio /boot (/root/backup-boot_dir.tar.gz) al apagar o reiniciar el sistema.
Documentation=https://github.com/adriisotuu/proyecto_maquina_quiosco/tree/master/Documentacion

[Service]
Type=oneshot
RemainAfterExit=yes
#No hace nada, sale con un código de estado que indica éxito (success)
ExecStart=/bin/true
ExecStop=/bin/backup-shutdown.sh

[Install]
WantedBy=multi-user.target
