[Unit]
Description=Añade cliente gráfico Firefox en segundo plano en /home/quiosco/.xinitrc
Documentation=https://github.com/adriisotuu/proyecto_maquina_quiosco/tree/master/Documentacion
Before=window_manager.service

[Service]
Type=oneshot
ExecStart=/bin/firefox_xinitrc.sh

[Install]
WantedBy=quiosco_firefox.target
